// BUTTON STYLES
// These styles  will define the buttons used in the app

.c-buttons{
  &-Button{
    &Outer{
      padding:.5em 0;
      border: 2px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      flex-direction:column;
      flex: 1;
      align-items:center;
    }
    &Label{
      font-size:.9em;
      text-transform: uppercase;
      flex:0 1 1em;
      color: white;
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
    }
  }
  // Icons for the buttons
  &-IconContainer{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    align-items:center;
    justify-content: space-around;
    display: flex;
  }
  &-Icon{
    font-size: 48px;
  }
  // Toggle Buttons
  &-ToggleButton{
    &Outer{}
    &Label{}
  }

  &-ToolButton{
    &Outer{}
    &Label{}
  }

  // The Logo Button
  &-LogoButton{
    &Outer{}
    &Label{
    }
    &IconContainer{
      background-color: transparent;
      border:none;
    }
    &Icon{
      color:orangered;
      text-shadow: 0px 2px 0px yellow;
    }
  }
  //The Squirt Buttons
  &-SquirtButton{
    &Outer{
      flex-grow: 2;
      // background-color: rgba(0, 126, 255, 0.20);
    }
    &Label{
    } 
  }
  // The File Player Section
  &-FilePlayer{
    &Outer{
      flex-grow:3;
      display: flex;
      flex-direction: row;
    }
    &IconContainer,
    &Label{
      flex:1;
    }
  }
  &-Filename,
  &-PlayerButton{
    &Outer{
      background-color:transparent;
      border:none;
    }
  }
  &-PlayerButton{
    &Outer{
      max-width: 10vw;
      max-height: 10vw;
    }
  }
  &-Filename{
    &Outer{
      font-size: 1rem;
    }
  }
}